  .h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
.header{
  display: flex;
  width: 100%;
  padding: var(--Header, 0px);
  justify-content: space-between;
  align-items: center;
  
}
  .container {
    display: flex;
    padding-right: 1em;
    align-items: space-between;
    gap: 5%;
    border-radius: var(--Header, 0px);
  }
  .button {
    
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .main{
    display: flex;
    width: 100%;
    padding: var(--Header, 0px);
    justify-content: space-between;
    align-items: top;
  }
  .image{
    
    width: 625px;
    height: 450px;
  }

  .textContainer {
    padding-top: 100px;
    flex-direction: collumn;
    align-items: center;
    padding-right: 3em;
    justify-content: center;
  }
.textBox{
  
  text-align: center;
  align-items: center;
  justify-content: center;
}
.form{
  flex-direction: collumn;
}
.footer{
  padding: 200px;

  text-align: center;
}
.a{
  justify-content: center;
}